.resume .center-align {
    text-align: center;
}
.resume p {
    font-size: 20px;
}
.resume .body {
    padding: 100px;
    padding-left: 140px;

}

.resume .list {
    font-size: 20px;
}
.resume .tech {
    display: inline-block;
    width: 350px;
    font-weight: bold;
}